
.cta{
    margin-left: 50%;
    border-radius: 4px;
    border: 1px solid rgb(242, 164, 29);
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
}
.cta:hover{
    background-color: orangered;
    border: 1px solid orangered;
}
h2,h3{
    margin-left: 45%;
}
.card{
    margin-left: 45%;
}
ul{
    list-style-type: square;
}
li{
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-image: linear-gradient(to right,red,orange);
}